<div class="page-header">
  <h1>New Task</h1>
</div>

<ul class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to "#{@project.name}", project_path(@project) %></li>
  <li><%= link_to "Tasks", project_tasks_path(@project, @tasks) %></li>
  <li class="active">New</li>
</ul>

<%= render partial: "form", locals: { name_of_button: "Create Task"} %>
