<div class="page-header">
  <h1>Edit User</h1>
</div>

<%= render partial: "form", locals: { name_of_button: "Update User" } %>

<div class="well col-md-6 col-sm-offset-2 text-center">
  <%= link_to "Delete User", user_path, method: "delete", class: "btn btn-danger" %>
</div>
