<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">gCamp</a>
    </div>
</nav>

<div class="container">

  <div class="jumbotron">
    <h1>gCamp</h1>
    <p>Your life, organized.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <img src="assets/1.jpg" class="img-responsive" alt="Responsive image">
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <img src="assets/2.jpg" class="img-responsive" alt="Responsive image">
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <img src="assets/3.jpg" class="img-responsive" alt="Responsive image">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Tasks
        </div>
        <div class="panel-body">
          Grouped by projects and lists.  Just the way you like 'em.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Permissions
        </div>
        <div class="panel-body">Fine-grained permissions</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Comments
        </div>
        <div class="panel-body">
          <ul>
            <li>Comment on tasks and documents</li>
            <li>Get email notifications</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
