<div class="page-header">
  <h1>New Project</h1>
</div>

<ul class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li class="active">New Project</li>
</ul>

<%= render partial: "form", locals: { name_of_button: "Create Project"} %>
