<div class="page-header">
  <h1>Frequently Asked Questions</h1>
</div>

<ul>
  <% @common_questions.each do |common_question| %>
    <li><%= link_to common_question.question, "#" + common_question.slug %></li>
  <% end %>
</ul>

<% @common_questions.each do |common_question| %>
  <h3 id=<%= common_question.slug %>><%= common_question.question %></h3>
  <div class="row">
    <div class="col-md-8"
      <p><%= common_question.answer %></p>
    </div>
  </div>
  <a href="#top">top</a>
<% end %>
